DATABASE_NAME=magic-stream-movies
MONGO_URI=mongodb://localhost:27017/
SECRET_KEY=my-secret-tokens
SECRET_REFRESH_KEY=my-refresh-token
BASE_PROMPT_TEMPLATE=Return a prompt using one of these words: {rankings}.The response should be a single word and should not container any other text.The review should be based on the following review: {}
OPENAI_API_KEY=mykey
RECOMMENDED_MOVIE_LIMIT=5